@use "colour";
@use "typography";

.c-hero {
  position: relative;

  height: 805px;

  background-color: colour.get(primary);

  .c-hero__headline {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    @include typography.poppins-extrabold-text-crop;
    font-size: typography.em(169px);

    color: colour.get(gray-1);

    pointer-events: none;
    user-select: none;
  }

  .c-hero__image {
    position: absolute;
    left: -15px;
    bottom: 105%;

    user-select: none;
  }
}
