@use "layout";
@use "typography";
@use "colour";

.c-episode-cover {
  position: relative;
}

.c-episode-cover__image {
  @include layout.round(2);

  width: 100%;

  box-shadow: -20px 20px 40px -12px rgba(colour.get(black), 0.34);
}

.c-episode-cover__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: typography.em(86px);
}
