@use "colour";

.c-page {
  position: relative;
  overflow: hidden;

  width: 100%;

  direction: rtl;

  background-color: colour.get(gray-1);
}

.c-page__main {
  margin-top: -118px;
  min-height: 118px;
}
