@use "typography";
@use "colour";

.c-platform-category {
  display: flex;
  align-items: center;

  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-platform-category__label {
  @include typography.font-weight(bold);

  margin-left: auto;
}

.c-platform-category__item {
  margin-left: 64px;

  font-size: typography.rem(40px);
  line-height: 1;
  text-decoration: none;

  &:last-child {
    margin-left: 0;
  }
}
