@use "colour";

.c-reference {
  padding: 32px 0 32px;
}

.c-reference__headline {
  display: flex;
  align-items: center;

  margin-bottom: 32px;

  color: colour.get(gray-7);

  .c-icon {
    margin-left: 16px;
  }
}
