@use "colour";

.c-section {
  padding: 64px 0;

  &:not(.-is-terminal) .c-section__container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(64px);

    width: 100%;
    height: 1px;

    background-color: colour.get(gray-3);
  }
}

.c-section__headline {
  position: absolute;
  right: 0;
  transform: translate(+250px, -99px);

  box-sizing: border-box;
  width: 338px;
  padding: 42px 64px 42px 134px;
  border: 6px solid colour.get(white);

  color: colour.get(primary);
}
