<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>جلسات باز نرم‌افزاری - ساخت مشهد</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ .Site.BaseURL}}/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ .Site.BaseURL}}/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ .Site.BaseURL}}/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="{{ .Site.BaseURL}}/favicons/manifest.json" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Custom styles for this template -->
    <link href="../css/events.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a
          class="navbar-brand js-scroll-trigger"
          href="{{ .Site.BaseURL}}"
          >{{ .Site.Title}}</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                href="{{ .Site.BaseURL}}/live"
                >پخش زنده اینترنتی</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                href="{{ .Site.BaseURL}}/events"
                >گزارش فعالیت‌ها</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>جامعه نرم‌افزاری مشهد</h1>
        <p class="lead">لیست سایر جلسات نرم‌افزاری و استارتاپ‌های مشهدی</p>
      </div>
    </header>

    <section id="downloads" style="padding:0">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="row mt-0">
              <img
                class="img-fluid"
                src="{{ .Site.BaseURL}}/images/MadeWithLove.jpg"
              />
              <h2>رویدادهای مشهد</h2>
              <div class="alert alert-info">
                این لیست جلسات برگزار شده مشهد است. جلسات دیگر مرتبط را در
                <a href="https://github.com/Hameds/softwaretalks/issues/new"
                  >مخزن گیت‌هاب سایت جلسات باز نرم‌افزاری</a
                >
                معرفی کنید
              </div>
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th>عنوان</th>
                    <th>توضیحات</th>
                    <td>
                      وضعیت
                    </td>

                    <th>وب سایت</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>جلسات باز نرم‌افزاری مشهد</td>
                    <td>
                      دورهمی تخصصی فعالین و علاقمندان نرم‌افزار مشهد از سال ۱۳۹۲
                    </td>
                    <td><span class="badge badge-success">فعال</span></td>

                    <td class="text-left">
                      <a
                        href="http://softwaretalks.ir"
                        target="_blank"
                        rel="nofollow"
                        >http://softwaretalks.ir</a
                      >
                    </td>
                  </tr>
                  {{ range $.Site.Data.mashhad.events }}
                  {{
                    range.item
                  }}
                  <tr>
                    <td>{{ .title }}</td>
                    <td>{{ .desc }}</td>
                    <td>
                      {{ if eq .status  "فعال"}}
                      <span class="badge badge-success">
                        {{ .status }}
                      </span>
                      {{ else if eq .status "نامشخص"}}
                      <span class="badge badge-warning">
                        {{ .status }}
                      </span>
                      {{ else if eq .status "تعطیل"}}
                      <span class="badge badge-danger">
                        {{ .status }}
                      </span>
                      {{ end }}
                    </td>

                    <td class="text-left">
                      <a
                        href="{{ .website }}"
                        target="_blank"
                        rel="nofollow"
                        >{{ .website }}</a
                      >
                    </td>
                  </tr>

                  {{
                    end
                  }}
                  {{
                    end
                  }}
                </tbody>
              </table>

              <h2 class="mt-5">استارتاپ‌های مشهدی</h2>
              <div class="alert alert-warning">
                این لیست در حال تکمیل است. اگر استارتاپ دیگری را می‌شناسید در
                <a href="https://github.com/Hameds/softwaretalks/issues/new"
                  >مخزن گیت‌هاب سایت جلسات باز نرم‌افزاری</a
                >
                به ما معرفی کنید
              </div>
              <br />
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>عنوان</th>
                    <th>موسسین</th>
                    <th>وضعیت</th>
                    <th>وب سایت</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range $.Site.Data.mashhad.startups }}
                  {{ range $i,$element :=.item }}
                  <tr>
                    <td>{{ (add $i 1) }}</td>
                    <td>{{ .title }}</td>
                    <td>{{ .founders }}</td>
                    <td>
                      {{ if eq .status  "فعال"}}
                      <span class="badge badge-success">
                        {{ .status }}
                      </span>
                      {{ else if eq .status "نامشخص"}}
                      <span class="badge badge-warning">
                        {{ .status }}
                      </span>
                      {{ else if eq .status "شکست خورده"}}
                      <span class="badge badge-danger">
                        {{ .status }}
                      </span>
                      {{ end }}
                    </td>
                    <td class="text-left">
                      <a
                        href="{{ .website }}"
                        target="_blank"
                        rel="nofollow"
                        >{{ .website }}</a
                      >
                    </td>
                  </tr>
                  {{
                    end
                  }}
                  {{
                    end
                  }}
                </tbody>
              </table>
              <p class="text-muted">
                در جمع‌آوری اطلاعات استارتاپ‌های مشهدی از
                <a
                  href="http://razavi.ictstartups.ir/"
                  target="_blank"
                  rel="nofollow"
                  >این وب سایت</a
                >
                و کمک داوطلبان استفاده شده است. لطفاً اشکالات احتمالی را
                <a href="https://github.com/Hameds/softwaretalks/issues/new"
                  >گزارش کنید
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          محتوای این سایت در
          <a href="https://github.com/hameds/softwaretalks">گیت‌هاب</a> منتشر
          می‌شود. در صورت تمایل می‌توانید به بهبود آن کمک کنید
        </p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
